<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>



<table>
  <thead>
    <tr>
      <th>Reclamo</th>
    </tr>
  </thead>

  <tbody id="claims">
    <% @claims.each do |claim| %>
      <%= render claim %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', companies_path %>
