<%= link_to "Compañías", companies_path %>

<h1>Dashboards</h1>

<table>
	<tr>
		<td>Total de Usuarios:</td>
		<td><%= @users %></td>
	</tr>
	<tr>
		<td>Total de Compañías:</td>
		<td><%= @companies %></td>
	</tr>
	<tr>
		<td>Total de Reclamos:</td>
		<td><%= @claims %></td>
	</tr>
</table>